
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<a asp-controller="ActionResult" asp-action="PartialResult">Partial Result</a>
<a asp-controller="ActionResult" asp-action="ContentResult">Content Result</a>
<a asp-controller="ActionResult" asp-action="JsonResult">Json Result</a>
<a asp-controller="ActionResult" asp-action="RedirectResult">Redirect Result</a>
<a asp-controller="ActionResult" asp-action="FileResult">File Result</a>
<a asp-controller="ActionResult" asp-action="NotFoundResult">Not Found Result</a>
<a asp-controller="ActionResult" asp-action="UnAuthorizedResult">UnAuthorized Result</a>



